.sorting{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: .5em;
  border: 1px solid grey;
  border-radius: 5px;
   padding: .5em 1em;
background: transparent;
transition: all;
transition-duration: 0.2s;

}

.filter-product{
  display: flex;
  transition: all;
  transition-duration: 0.2s;
  align-items: center;
  gap: 0.6em;
  background: transparent;
  cursor: pointer;
  border: 1px grey solid;
  border-radius: 4px;
  padding: .5em 1em;
}
.filter-product:hover, .sorting:hover{
  background-color: rgb(219, 211, 211);
}
.mobile-filter{
  display: none;
}
.product-container{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: .2em; */
/* border: 2px solid red; */
  /* flex-basis: 3%; */
  flex-wrap: wrap;
}
.product-card{
text-align: center;
width: 100%;
margin: 0 auto;
  transition: all;
  cursor: pointer;
  transition-duration: 1s;
}

.product-card> h2{
margin: .5em 0 ;

}
.product-card > p{
color: grey;
margin-bottom: 1.2em;
}

/* .product-card:hover {
  cursor: pointer;
  transform: scale(1.1);
} */
.explore{
  text-align: center;
  transition: all;
  font-weight: 500;
  margin: 3em 0 1em;
  font-size: 1.3rem;
  transition-duration: 1s;
}
.explore:hover{
  text-decoration: underline;
  color: black;
}
.copyright{
  display: flex;
  align-items: center;
  color: grey;
  font-size: 1.2rem;
  width: 200px;
  /* border: 2px solid black; */
  margin: 0 auto;
  justify-content: center;
}
.copyright > p{
  margin-bottom: .3em;
}

.product-image{
  position: relative;
}
.fav-cart{
  display: flex;
  gap: .7em;
  justify-content: center;
  position: absolute;
  bottom: 20%;
  left: 35%;
}
.fav-cart > button{
  border-radius: 50%;
  border: grey solid 1px ;
  padding: .7em ;
  cursor: pointer;
}

.fav:hover{
  background-color: grey;

}
.shop-cart{
  background-color: black;
  transition: all;
  transition-duration: .8s;
}
.shop-cart:hover{
  background-color: grey;
}
.product-name{
  transition: all;
}
.product-name:hover{
  text-decoration: underline;

}
@media (width > 768px){
  .product-card{
    max-width: 410px;
  }
}
@media(width < 769px){
  
  .product-container{
    display: block;
  }
  .filter-product{
    display: none;
  }
  .mobile-filter{
    display: block;
    margin-left: 1.2em;
  }
}
