/* .product-container{
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-basis: 30%;
  flex-wrap: wrap;
} */
/* .sorting{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2em;
  border: 1px solid grey;
  border-radius: 5px;
   padding: .3em .5em; 
} */
.filter-product{
  display: flex;
  align-items: center;
  gap: 0.6em;
  border: 1px grey solid;
  border-radius: 4px;
  padding: .5em 1em;
}
.mobile-filter{
  display: none;
}
.product-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: .2em; */
  flex-basis: 30%;
  flex-wrap: wrap;
}
.product-card{
text-align: center;
width: 100%;
max-width: 400px;
margin: 0 auto;
  transition: all;
  transition-duration: 1s;
/* transition-behavior: ease-out; */
}
.product-card> h2{
margin: .5em 0 ;

}
.product-card > p{
color: grey;
margin-bottom: 1.2em;
}

.product:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.explore{
  text-align: center;
  transition: all;
  font-weight: 500;
  margin: 3em 0 1em;
  font-size: 1.3rem;
  transition-duration: 1s;
}
.explore:hover{
  text-decoration: underline;
  color: black;
}
.copyright{
  display: flex;
  align-items: center;
  color: grey;
  font-size: 1.2rem;
  width: 200px;
  /* border: 2px solid black; */
  margin: 0 auto;
  justify-content: center;
}
.copyright > p{
  margin-bottom: .3em;
}
@media(width < 769px){
  
  .product-container{
    display: block;
  }
  .filter-product{
    display: none;
  }
  .mobile-filter{
    display: block;
    margin-left: 1.2em;
  }
}
