*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media(width> 600px){

.product-container{
  /* border: solid red ; */
  height: 100vh;
}

.product-details{
  /* border: solid green ; */
  display: flex;
  justify-content: center;
  gap: 2em;
  /* padding: 1em 0; */
  position: relative;
  margin: 0 auto;
  width: 60%;
}
.action-btn {
  /* border: solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: absolute;
  bottom: 0;
  margin-bottom: .5em;
}

.checkout-btn {
  display: flex;
  background-color: black;
  color: grey;
  border: none;
  cursor: pointer;
  justify-content: center;
  gap: 1em;
  /* font-size: 2.5vh; */
  padding: .7em 3em;
  border-radius: 4px;
}

.atc-btn {
  display: flex;
  background-color: transparent;
  border: 1px solid grey;
  cursor: pointer;
  justify-content: center;
  gap: 1em;
  /* font-size: 2.5vh; */
  padding: .8em 1em;
  border-radius: 4px;
}
h2:hover{
text-decoration: underline;
cursor: pointer;
}
.atc-btn, .checkout-btn, h2{
  transition: all;
  transition-duration: .3s;
}
.atc-btn:hover{
  background-color: rgb(219, 211, 211);
}
.checkout-btn:hover{
  background-color: rgb(51, 51, 51);
}


 section>p, article {
   color: grey;
   margin: 1em 0 2.5em;
 }
article{
  margin: 4em 0;
}



}



@media(width < 600px){

  .product-image {
    /* border: solid pink; */
    width: 100%;
  }

  .product-image>img {
    width: 100%;
  }

  section {
    /* border: green solid; */
    padding: 0 0 1em;
  }

  section>p {
    color: grey;
    text-align: center;
    margin: 1em 0 2.5em;
  }

  article {
    color: grey;
    text-align: center;
    margin: 0 0 3em;
  }

  .action-btn {
    /* border: solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.atc-btn,
.checkout-btn,
h2 {
  transition: all;
  transition-duration: .3s;
}

.atc-btn:hover {
  background-color: rgb(219, 211, 211);
}

.checkout-btn:hover {
  background-color: rgb(51, 51, 51);
}
  .checkout-btn {
    display: flex;
    background-color: black;
    color: grey;
    border: none;
    cursor: pointer;
    justify-content: center;
    gap: 1em;
    /* font-size: 2.5vh; */
    padding: .7em 3em;
    border-radius: 4px;
  }

  .atc-btn {
    display: flex;
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    justify-content: center;
    gap: 1em;
    /* font-size: 2.5vh; */
    padding: .8em 1em;
    border-radius: 4px;
  }
  
};




