.desktop-view-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-view-navbar{
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
.hamburger{
  border: none;
width: 30px;
background-color: transparent;
}


@media(width < 769px){
  .desktop-view-navbar{
  display: none;
}
.mobile-view-navbar{
  display: flex;
}
}