a{
  text-decoration: none;
  cursor: pointer;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  transition: all;
  transition-duration: 1s;
}

a:hover{
  text-decoration: underline;
  color: black;
}
ul{
  align-items: center;
  display: none;
  list-style: none;
}